
<header class="centered">
  <img src="assets/title.png"/>
</header>

<section class="session centered">
  <div>Session 2</div>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top centered">
  <img src="assets/text_border_top.png"/>
</div>

<section class="content centered">
  <div class="paragraph centered font-sans">
    <h1>Calendars and Dots around the Clock</h1>
    <p>People with drug dependence often feel their behavior is “out of control.” Over time, this can lead to feelings of hopelessness about ever changing their behavior. However, change begins with a single step. Simply noticing your behavior can lead to changes in how you behave. In this session, we will start to work on noticing patterns of behavior.</p>
    <p>On the next page is a calendar for a week. Think about the last time that you used crystal. Write in the date(s) for the day(s) of the week in which this occurred. This exercise is to provide an example for how to fill in the calendars; if you don’t remember the exact date(s), just number the day(s) from 1 to 7. Complete the calendar as follows:</p>
    <p>1. Starting with the first day of this week, place a white pin on any day that you did not use any crystal.</p>
    <p>2. On each of the days that you did use during this week, place a blue pin (for example, alcohol, crystal, poppers).</p>
    <p>3. Place a red pin on the days that you had sex.</p>
  </div>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next.png" class="shrink"/>
</div>

<div class="icons-container centered">
  <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>
