<header class="centered font-marker"> 
  <h1>September<span class="year"> 2014</span></h1>
  <h2 class="next"> NEXT </h2>
  <h2 class="back"> BACK </h2>
</header>

<section class="calendar centered">
  <div class="row centered font-sans">
    <p class="day">Mon</p>
    <p class="day">Tues</p>
    <p class="day">Wed</p>
    <p class="day">Thu</p>
    <p class="day">Fri</p>
    <p class="day">Sat</p>
    <p class="day">Sun</p>
  </div>

  <div class="date-row backup1 first centered font-sans">
    <p class="backup" data-day="monday"></p>
    <p class="backup" data-day="tuesday"></p>
    <p class="backup" data-day="wednesday"></p>
    <p class="backup" data-day="thursday"></p>
    <p class="backup" data-day="friday"></p>
    <p class="backup" data-day="saturday"></p>
    <p class="backup-sun" data-day="sunday"></p>
  </div>

  <div class="date-row first centered font-sans">
    <p class="date first" data-day="monday"></p>
    <p class="date first" data-day="tuesday"></p>
    <p class="date first" data-day="wednesday"></p>
    <p class="date first" data-day="thursday"></p>
    <p class="date first" data-day="friday"></p>
    <p class="date first" data-day="saturday"></p>
    <p class="date first" data-day="sunday"></p>
  </div>

   <div class="date-row centered font-sans">
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
  </div>

   <div class="date-row centered font-sans">
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
  </div>

   <div class="date-row centered font-sans">
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
    <p class="date"></p>
  </div>

   <div class="date-row centered last-week font-sans">
    <p class="date what" data-day="monday"></p>
    <p class="date what" data-day="tuesday"></p>
    <p class="date what" data-day="wednesday"></p>
    <p class="date what" data-day="thursday"></p>
    <p class="date what" data-day="friday"></p>
    <p class="date what" data-day="saturday"></p>
    <p class="date what" data-day="sunday"></p>
  </div>

   <div class='date-row centered extra-days font-sans'>
     <p class='date extra' data-day="monday"></p>
     <p class='date extra' data-day="tuesday"></p>
     <p class='date extra' data-day="wednesday"></p>
     <p class='date extra' data-day="thursday"></p>
     <p class='date extra' data-day="friday"></p>
     <p class='date extra' data-day="saturday"></p>
     <p class='date extra' data-day="sunday"></p>
   </div>
</section>

<section class="bottom-menu">
  <div class="top-container centered 15">
    <div class="day">
      <p class="dayofweek-yesterday">TUE</p>
      <p class="num yesterday">2</p>
    </div>

    <div class="today 1">
      <p>Yesterday</p>
      <!-- <p class="second"></p> -->
    </div>

    <div class="block 1">

    </div>

    <div class="block 11">

    </div>

    <div class="pins">
      <div class="pin 1terday" data-color="white" data-tag=".num.yesterday"><img src="assets/pin-white.png"/></div>
      <div class="pin 1terday" data-color="blue" data-tag=".num.yesterday"><img src="assets/pin-blue.png"/></div>
      <div class="pin 1terday" data-color="red" data-tag=".num.yesterday" ><img src="assets/pin-red.png"/></div>
    </div>
  </div>

   <div class="top-container centered 16">
    <div class="day">
      <p class="dayofweek-today">MON</p>
      <p class="num todayy">2</p>
    </div>

    <div class="today 2">
      <p>Today</p>
    </div>

    <div class="block 2">

    </div>

     <div class="block 22">

    </div>

    <div class="pins">
      <div class="pin 2day" data-color="white" data-tag=".num.todayy"><img src="assets/pin-white.png"/></div>
      <div class="pin 2day" data-color="blue" data-tag=".num.todayy"><img src="assets/pin-blue.png"/></div>
      <div class="pin 2day" data-color="red" data-tag=".num.todayy"><img src="assets/pin-red.png"/></div>
    </div>
  </div>

  <div class="top-container centered 17">
    <div class="day">
      <p class="dayofweek-tomorrow">THU</p>
      <p class="num tomorrow">2</p>
    </div>

    <div class="today 3">
      <p>Tomorrow</p>
      <!-- <p class="second">fuck</p> -->
    </div>

    <div class="block 3">

    </div>

    <div class="block 33">

    </div>

    <div class="pins">
      <div class="pin 2morrow" data-color="white" data-tag=".num.tomorrow"><img src="assets/pin-white.png"/></div>
      <div class="pin 2morrow" data-color="blue" data-tag=".num.tomorrow"><img src="assets/pin-blue.png"/></div>
      <div class="pin 2morrow" data-color="red" data-tag=".num.tomorrow"><img src="assets/pin-red.png"/></div>
    </div>
  </div>

</section>

<div class="border-bottom centered">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next.png" class="shrink"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>