<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>183</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 6</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="paragraph centered">
  <h1 class="font-marker">The Brain Disease</h1>
  <p class="font-sans">Saying goodbye to crystal entails experiencing many changes, not only in your life, but in your body and brain. An important part of the recovery process is learning about the impact crystal meth has on your brain chemistry, and how those brain processes affect you in recovery.</p>
  <p class="font-sans">The National Institute on Drug Abuse defines drug addiction as a brain disease. Twelve­step programs such as Alcoholics Anonymous, Narcotics Anonymous, and Crystal Meth Anonymous define addiction as a threefold disease: physical, emotional, and spiritual. Both definitions are helpful to people in recovery.</p>
  <p class="font-sans">Physical recovery (care for the addicted brain) must be addressed first. Only after the physical recovery is under way can your emotional and spiritual needs be addressed. The following description will make the concept of addiction as a brain disease clearer:</p>
  <p class="font-sans">Information travels around the brain through a series of electrical and chemical processes. Neurotransmitters, such as dopamine, norepinephrine, and serotonin, carry signals from one neuron to another by crossing the space, or synapse, between neurons. Dopamine is the primary neurotransmitter involved with the brain’s “reward system,” which is what makes us feel good. Here’s how methamphetamine affects the process: It produces its effects by causing extra dopamine and norepinephrine to be released into the synapse in several areas of the brain.</p>
  <p class="font-sans">Once in the synapse, the high concentration of dopamine leads to feelings of pleasure and euphoria. The excess norepinephrine may be responsible for the alertness and anti­fatigue effects of methamphetamine.Over time, the brain recognizes the excess of dopamine in the synapses and begins making less in order to compensate.</p>
  <p class="font-sans">This has two effects</p>
  <ul>
    <li>As the brain begins making less dopamine, dopamine levels in the synapse decrease toward normal levels. More crystal is then needed to boost levels back up and cause the same effect. This is known as tolerance, or needing more and more of a drug over time to produce the same high.</li>
    <li>When the drug is not present, the brain has less dopamine available, which results in fatigue, depression, and cravings for the drug to bring back the energy and pleasure.</li>
  </ul>
  <p class="font-sans">Over time, continued meth use causes deficits in cognitive functioning (your ability to think, make decisions, exercise good judgment, and remember things) and for some people, psychotic symptoms such as hearing voices, paranoia, and “meth bugs,” which is the sensation of bugs crawling under your skin. The longer you use meth, the longer it takes your brain to recover each time.</p>
  <p class="font-sans">Recent brain scans of HIV­positive crystal users suggest that HIV and methamphetamine combine in the brain to produce more brain damage than either HIV or crystal alone (Chang, 2005).</p>
  <p class="font-sans">n the first few months of recovery, your attention must be focused primarily on the physical dimension. Once you have begun the process of healing your body and brain, your attention can begin to shift to some of the emotional and spiritual aspects of recovery.</p>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next_button.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>