<section class="header">
  <header class="centered">
    <img src="assets/title.png"/>
  </header>

  <section class="session centered">
    <div>Session 6</div>
  </section>
</section>

<section class="middle-container" id="mid-container">
  <section class="points-container centered font-marker hang">
    <p class="score">1000</p>
    <p class="points font-sans">POINTS</p>
  </section>

  <section class="avatar-container centered">
    <img src=""/>
  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>
  <div class="finish-chapter centered">
    <img src="assets/next_session_button.png" class="shrink"/>
  </div>
  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>

<div class="overlay"></div>