<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>183</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 6</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="questions centered">
  <p class="font-sans instructions">Write down some needs that you’re aware of in each of these three areas. Have you considered these needs to be part of your recovery from crystal?</p>
  <div class="text centered">
    <h1 class="font-sans">Physical:</h1>
    <p class="font-sans example">Examples: aches, pains, nausea, insomnia</p>
  </div>
  <div class="textarea centered">
    <textarea class="1"><%=answer_1%></textarea>
  </div>

  <div class="text centered">
    <h1 class="font-sans">Emotional:</h1>
    <p class="font-sans example">Examples: anger, sadness, short­temper</p>
  </div>
  <div class="textarea centered">
    <textarea class="2"><%=answer_2%></textarea>
  </div>

  <div class="text centered">
    <h1 class="font-sans">Spiritual:</h1>
    <p class="font-sans example">Example: believing in a power or force greater than yourself</p>
  </div>
  <div class="textarea centered">
    <textarea class="3"><%=answer_3%> </textarea>
  </div>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="page2-model centered">
  <img src="assets/next.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>