<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>183</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 6</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="paragraph centered">
  <div class="title font-marker centered">
    <h1>Days in Recovery</h1>
  </div>

  <div class="title-border centered">
    <img src="assets/line.png"/>
  </div>

  <div class="subtitle centered">
    <h1 class="font-sans">Early Abstinence</h1>
    <p class="font-sans">Problems Encountered are Mostly Physical</p>
  </div>

  <div class="title-border-bottom centered">
    <img src="assets/line.png"/>
  </div>

  <div class="days centered">
    <div class="float centered">
      <div class="font-sans day first"><span>Days: 0-15</span></div>
      <div class="line"><img src="assets/vertical_line.png"></div>
      <div class="font-sans day">WITHDRAWAL</div>
    </div>
  </div>

  <div class="days centered two mid">
    <div class="float centered">
      <div class="font-sans day first"><span>Days: 16-45</span></div>
      <div class="line"><img src="assets/vertical_line.png"></div>
      <div class="font-sans day">HONEYMOON</div>
    </div>
  </div>

  <div class="days centered three mid">
    <div class="float centered">
      <div class="font-sans day first"><span>Days: 46-120</span></div>
      <div class="line"><img src="assets/vertical_line.png"></div>
      <div class="font-sans day">THE WALL</div>
    </div>
  </div>

  <div class="days centered four mid">
    <div class="float centered">
      <div class="font-sans day first"><span>Days: 121-180</span></div>
      <div class="line"><img src="assets/vertical_line.png"></div>
      <div class="font-sans day">ADJUSTMENT</div>
    </div>
  </div>

  <div class="days centered five mid">
    <div class="float centered">
      <div class="font-sans day first"><span>Days: 181-360</span></div>
      <div class="line"><img src="assets/vertical_line.png"></div>
      <div class="font-sans day">RESOLUTION</div>
    </div>
  </div>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next_button.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>