<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>183</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 6</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="content">
  <div class="top centered">
    <div class="stage font-sans">
      <h1>STAGE 1</h1>
      <p>Days: 0-15</p>
    </div>

    <div class="stage-name font-sans">
      <h1>WITHDRAWAL</h1>
    </div>
  </div>

  <div class="line centered"></div>

  <div class="middle centered font-sans">
    <p>People usually feel bad when they stop using crystal. In the first two weeks of sobriety, the body goes into overdrive to repair the damage from substance use. People usually need a lot of rest and sometimes get physically sick during this period. Here are common problems during the withdrawal stage and things you can do to get through this period:</p>
  </div>

  <div class="subtitles centered font-sans">
    <div class="title first title-clicked"><h1>Problems</h1></div>
    <div class="title second"><h1>What to do</h1></div>
  </div>

  <div class="paragraph centered font-sans">
    <div class="list-container">
      <ol> 
        <li class="list-item">Medical Problems</li>
        <li class="list-item">Depression</li>
        <li class="list-item">Out-of-Control Behavior</li>
        <li class="list-item">Contact With Triggers</li>
        <li class="list-item">Exhaustion</li>
        <li class="list-item">Lack of Sex Drive</li>
      </ol>
    </div>
  </div>

</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next_button.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>