<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>1000</h2>
      <div>POINTS</div>
    </div>
  </header>
<!-- 
  <section class="session centered font-sans">
    <p>Session 5</p>
  </section> -->

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <section class="content">
    <div class="top centered">
      <div class="stage font-sans">
        <h1>STAGE 2</h1>
        <p>Days: 16-45</p>
      </div>

      <div class="stage-name font-sans">
        <h1>HONEYMOON</h1>
      </div>
    </div>

    <div class="line centered"></div>

    <div class="middle centered font-sans">
      <p>In the Honeymoon Stage, the body has made most of the immediately necessary repairs and people usually feel better. Unfortunately this can lead to overconfidence, which increases the likelihood of relapse. The following are common problems during this stage and things you can do about them:</p>
    </div>

    <div class="subtitles centered font-sans">
      <div class="title first title-clicked"><h1>Problems</h1></div>
      <div class="title second"><h1>What to do</h1></div>
    </div>

    <div class="paragraph centered font-sans">
      <div class="list-container">
        <ol> 
          <li class="list-item">Too Much/Too Little Work</li>
          <li class="list-item">Overconfidence</li>
          <li class="list-item">Occasional Cravings</li>
          <li class="list-item">Insomnia/Anxiety</li>
          <li class="list-item">Loneliness/Boredom</li>
          <li class="list-item">Strong Sexual Desire/Sexual Acting Out</li>
        </ol>
      </div>
    </div>

  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>