<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>1000</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 6</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="content">
  <div class="top centered">
    <div class="stage font-sans">
      <h1>STAGE 3</h1>
      <p>Days: 46-120</p>
    </div>

    <div class="stage-name font-sans">
      <h1>THE WALL</h1>
    </div>
  </div>

  <div class="line centered"></div>

  <div class="middle centered font-sans">
    <p>The hallmark of The Wall is boredom. Crystal use is often exciting. With dependence, your brain becomes accustomed to high levels of stimulation and sends you messages saying, “I need more!” These messages are in the form of strong cravings, crystal thoughts, fantasies about intense sexual experiences, boredom, sluggishness, and depression. The key to making it through The Wall is to increase your level of sober activities. The following are some suggestions for dealing with problems you might face when you’re at The Wall:</p>
  </div>

  <div class="subtitles centered font-sans">
    <div class="title first title-clicked"><h1>Problems</h1></div>
    <div class="title second"><h1>What to do</h1></div>
  </div>

  <div class="paragraph centered font-sans">
    <div class="list-container">
      <ol> 
        <li class="list-item">Sluggishness/Depression</li>
        <li class="list-item">Relapse Justification for Drugs and High-Risk Sex</li>
        <li class="list-item">Thinking About Using or Returning to High-risk Sex</li>
        <li class="list-item">Unfocused Activity</li>
        <li class="list-item">Loneliness/Boredom</li>
        <li class="list-item">Family Problems</li>
      </ol>
    </div>
  </div>

</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next.png" class="shrink"/>
</div>

<div class="icons-container centered">
  <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>