.ch6page-3{
  .header{
    height: 180px;
    header{
      max-width: 100%;color:white;
      height:5em; 
      .img {width: 8em; float: left; margin-left: 3%; margin-top:2.8em; img{ width:100%;}}
      .points {
        margin-right:4%;
        margin-top: -3em;
        float: right;
        max-width: 200px;
        font-family: 'Permanent Marker', cursive;
        h2{font-size: 5em;}
        div { 
          margin-top: -3.7em;
          font-family: 'Open Sans', sans-serif; font-size: 1.5em; color: rgb(67, 230, 67);
          text-align: center;
        }
      }
    }
    .progress-bar{
      margin-top: 70px;
      max-width: 350px;
    }
    .progress{
      float: left;
      max-width: 9%;
      img { width:100%; }
    }
    .progress.first{
      margin-left: 10%;
    }
    .border-top{
      max-width: 100%;
      img { width:100%; }
    }
  }
  .middle-container{
    position: absolute;
    top: 180px;
    bottom: 120px;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .questions{
      max-width:95%;
      height: 23em;
      // overflow-y: auto;
      padding: 0px 5px;
      color: white;
      .instructions{ width: 100%; text-align: center; font-size: 1.2em;}
      .text{
        max-width: 95%;
        h1{font-size: 2em;}
        .example{font-size: .8em; margin-top: -2em;}
      }
      .textarea{
        max-width: 95%;
        textarea{ width: 95%; border: 8px solid white; height: 6em; background-color: #d1d6da}
      }
    }
  }
  footer{
    height: 140px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .border-bottom{
      margin-top: 20px;
      max-width: 100%;
      img { width: 100%; }
    }
     .page2-model{
      margin-top: 2px;
    }
    .icons-container{
      max-width:600px; 
      z-index: 1;
      .icon-container{
        width:20%;
        float: left;
        img{width:100%;}
      }
      .icon-container.pin{
        margin-top: -2%;
      }
    }
  }
  .textarea-click{
    background-color: #959697 !important;
  }
  @media screen and (min-width:768px){
    .instructions{
      font-size: 2em !important;
    }
    .example{
      font-size: 1.2em !important;
    }
    .middle-container{
      top: 190px !important;
      bottom: 180px !important;
    }
    footer{
      height: 220px !important;
      .button{
        margin-top: 10px !important;
      }
    }
  }
}