.ch9page-1{
  header {
    max-width: 200px;
    img { width:100%; }
  }
  .session {
    font-family:'Open Sans', sans-serif;
    margin-top: -20px;
    font-size: 2em; color: rgb(39, 248, 11);
    div { text-align: center}
  }
  .progress-bar {
      margin-top: 10px;
      max-width:400px;
      .progress {
        float: left; 
        max-width: 9%;
        img { width:100% }
      }
      .progress.first{
        margin-left:10%;
      }
    }
  .border-top{
    max-width:100%;
    img { width:100%; }
  }
  .content{
    max-width: 95%;
    height:300px;
    overflow-y: auto;
    .title{
      margin-top: -20px;
      width: 100%;
      color: white;
      text-align: center;
      h1{ font-size: 2em;}
    }
    .paragraph{
      padding: 0px 5px;
      max-width:100%;
      color: white;
      text-align: center;
      p{}
    }
    .subtitle{
      text-align: center;
      color: white;
      font-weight: bold;
      p{font-size: 1.5em;}
    }
    .list{
      text-align: center;
      color: white;
      max-width:100%;
      span{font-weight: bold; font-size:1.2em;}
    }
  }
  .border-bottom{
    margin-top: -10px;
    max-width: 100%;
    img { width: 100%; }
  }
  .button{
    margin-top: 5%;
  }
  .icons-container{
    max-width:600px; 
    .icon-container{
      width:20%;
      float: left;
      img{width:100%;}
    }
    .icon-container.pin{
      margin-top: -2%;
    }
  }
}