.ch9page-2{
  .header{
    height: 180px;
    header{
      max-width: 100%;color:white;
      height:5em; 
      .img {width: 8em; float: left; margin-left: 3%; margin-top:2.8em; img{ width:100%;}}
      .points {
        margin-right:4%;
        margin-top: -3em;
        float: right;
        max-width: 200px;
        font-family: 'Permanent Marker', cursive;
        h2{font-size: 5em;}
        div { 
          margin-top: -3.7em;
          font-family: 'Open Sans', sans-serif; font-size: 1.5em; color: rgb(67, 230, 67);
          text-align: center;
        }
      }
    }
    .progress-bar{
      margin-top: 70px;
      max-width: 350px;
    }
    .progress{
      float: left;
      max-width: 9%;
      img { width:100%; }
    }
    .progress.first{
      margin-left: 10%;
    }
    .border-top{
      max-width: 100%;
      img { width:100%; }
    }
  }
  .middle-container{
    position: absolute;
    top: 180px;
    bottom: 120px;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .content{
      max-width: 97%;
      height:23em;
      // overflow-y: auto;
      .paragraph{
        padding: 0px 5px;
        max-width:100%;
        text-align: center;
        color: white;
      }
      .subtitle{
        margin-top: 1.5em;
        max-width: 100%;
        color: white;
        text-align: center;
        h1 { font-size: 1.2em; }
      }
      .rating{
        margin-top:-1em;
        color: white;
        max-width: 100%;
        height:2em;
        .sub-rating{
          text-align:center;
          max-width:315px;
          p{ float: left; width: 2.3em; font-size: 1.1em;}
          .first-rating{
          }
        }
      }
      .bottom-line{
        max-width:500px;
        img{ width: 100%; margin-top: -1em;}
      }
    }
  }
  footer{
    height: 140px;
    position: absolute;
    width: 100%;
    bottom: 0;
    .border-bottom{
      max-width: 100%;
      margin-top: 20px;
      img { width: 100%; }
    }
     .button{
        margin-top: 2px;
    }
    .icons-container{
      max-width:600px; 
      z-index: 1;
      .icon-container{
        width:20%;
        float: left;
        img{width:100%;}
      }
      .icon-container.pin{
        margin-top: -2%;
      }
    }
  }
    @media screen and (min-width:768px){
      .paragraph p{
        font-size: 2em !important;
      }
      .middle-container{
        top: 190px !important;
        bottom: 180px !important;
      }
      footer{
        height: 220px !important;
        .button{
          margin-top: 10px !important;
        }
      }
    }
    @media screen and (min-width:1000px){
      .middle-container{
        top: 190px !important;
      }
    }
  .border{
      border: 1px solid white;
      border-radius: 48%;
  }
  .glow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .glowing {
    box-shadow: 0 0 8px white;
  }
}