.ch9page-3{
  .header{
    height: 180px;
    header{
      max-width: 100%;color:white;
      height:5em; 
      .img {width: 8em; float: left; margin-left: 3%; margin-top:2.8em; img{ width:100%;}}
      .points {
        margin-right:4%;
        margin-top: -3em;
        float: right;
        max-width: 200px;
        font-family: 'Permanent Marker', cursive;
        h2{font-size: 5em;}
        div { 
          margin-top: -3.7em;
          font-family: 'Open Sans', sans-serif; font-size: 1.5em; color: rgb(67, 230, 67);
          text-align: center;
        }
      }
    }
    .progress-bar{
      margin-top: 70px;
      max-width: 350px;
    }
    .progress{
      float: left;
      max-width: 9%;
      img { width:100%; }
    }
    .progress.first{
      margin-left: 10%;
    }
    .border-top{
      max-width: 100%;
      img { width:100%; }
    }
  }
  .middle-container{
    position: absolute;
    top: 180px;
    bottom: 120px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    .content{
      max-width:98%;
      height:23em;
      // overflow-y: auto;
      .paragraph{
        max-width:95%;
        padding: 0px 5px;
        color: white; text-align: center;
        p{ width: 100%;}
      }
      .subtitle{
        max-width: 90%;
        color: white;
        text-align: center;
        h1 { width: 100%; font-size:1.6em; }
      }
      .textarea{
        padding: 0px 10px;
        max-width:100%;
        textarea { 
          color: white;
          width: 95%;
          height:7em;
          border:8px solid white; 
          background-color: #d1d6da;
        }
      }
    }
  }
  footer{
    width: 100%;
    position: absolute;
    height: 140px;
    bottom: 0;
    .border-bottom{
      margin-top: 20px;
      max-width: 100%;
      img { width: 100%; }
    }
     .button{
        margin-top: 2px;
    }
    .icons-container{
      max-width:800px; 
      z-index: 1;
      .icon-container{
        width:20%;
        float: left;
        img{width:100%;}
      }
      .icon-container.pin{
        margin-top: -2%;
      }
    }
  }
  .textarea-click{
    background-color: #959697 !important;
  }
  @media screen and (min-width:768px){
    .paragraph p{ font-size: 1.5em !important;}
    .middle-container{
      bottom: 200px !important;
    }
    footer{
      height: 250px !important;
      .button{
        margin-top: 10px !important;
      }
    }
  }
}