<section class="header">
  <header class="centered">
    <img src="assets/title.png"/>
  </header>

  <section class="session centered">
    <div>Session 3</div>
  </section>

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top centered">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <section class="paragraph centered">
    <h2>External and Internal Triggers</h2>
    <p>There are many events, people, places, and things that become very connected with crystal use and with risky sexual activity. These events or places are called “triggers,” and they can lead to thoughts and/or feelings about using or about sex. Thoughts and feelings about sex can, in turn, lead to thoughts or craving for meth. Look at the following list of potential triggers. Think about which ones apply to you and your crystal use.</p>
    <div class="list"> 
      <ul>
        <li>Holidays</li>
        <!-- <li>Driving down "The Boulevard"</li> -->
        <li>Pay Day</li>
        <li>Bathhouse</li>
        <li>Gym</li>
        <li>Porn</li>
        <li>Family Get-Together</li>
        <li>Sex Club</li>
        <li>Internet Chat Rooms</li>
        <li>Watching a Movie</li>
        <li>Ex-Boyfriends or Fuck Buddies</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li>Sex Shop</li>
        <li>Bookstore</li>
        <li>Telephone Chat Lines</li>
        <li>Park Bathroom</li>
        <li>Circuit Party</li>
        <li>Seeing a Sex Partner</li>
        <li>PnP websites or Chat Room</li>
        <li>Gay Pride Festival</li>
        <li>Hearing a Familiar Song</li>
      </ul>
    </div>
  </section>
</section>

<footer>
  <div class="border-bottom centered">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>