<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
     <img src="assets/menu-options.png"/>
    </div>
  </header>

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <div class="topic centered">
    <p>Association with Crystal Use</p>
  </div>

  <div class="frequency centered font-marker">
    <div class="subtitle centered">
      <div class="subtitle-text"><p> Never </p></div>
      <div class="add-button never" data-frequency="never_crystal" data-subtitle="Never Use Crystal"><img src="assets/add_button.png"/></div>
    </div>
    <div class="subtitle centered">
      <div class="subtitle-text"><p> Sometimes </p></div>
      <div class="add-button sometimes" data-frequency="sometimes_crystal" data-subtitle="Sometimes Use Crystal"><img src="assets/add_button.png"/></div>
    </div>
    <div class="subtitle centered">
      <div class="subtitle-text"><p> Always </p></div>
      <div class="add-button always" data-frequency="always_crystal" data-subtitle="Always Use Crystal"><img src="assets/add_button.png"/></div>
    </div>
  </div>

</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>
<div class="input-container">
  <section class="text-display" id="trig-display">
  </section>
  <section class="input centered">
      <input type="text" class="input-value" placeholder="parties"> </input>
      <div class="submit"><img src="assets/check_button.png"/></div>
  </section>
</div>

<section class="category-overlay">
  <div class="category-title font-marker">
    <div class="close"><img src="assets/close.png"/></div>
    <p class="instruction-subtitle"></p>
    <p class='scenario font-sans'>List all scenarios that you associate with crystal use at this frequency such as holidays, family time, weekdays, etc.</p>
    <p class="scenario-2 font-sans"> Example: I never take crystal on workdays.</p>
  </div>
</section>

<section class="general-overlay">
</section>
