<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>183</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 3</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="title font-marker centered">
  <p>When I'm Feeling ....</p>
</section>

<div class="paragraph centered">
  <p>We just looked at situations in the world around us that lead to crystal use or highrisk sex. There are also triggers inside of us - how we are feeling - that can lead to craving crystal or to putting ourselves at risk sexually. Read the following list of possible internal triggers and see if any of them apply to you.</p>
</div>

<section class="trigger-list centered">
    <div class="list"> 
      <ul>
        <li>Affectionate</li>
        <li>Fearful</li>
        <li>Angry</li>
        <li>Bored</li>
        <li>Confident</li>
        <li>Excited</li>
        <li>Defiant</li>
        <li>Depressed</li>
        <li>Irritable</li>
        <li>Exhausted</li>
        <li>Neglected</li>
        <li>Anxious</li>
        <li>Jealous</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li>Frustrated</li>
        <li>Guilty</li>
        <li>Happy</li>
        <li>Hopeless</li>
        <li>Horny</li>
        <li>Inadequate</li>
        <li>Insecure</li>
        <li>Embarassed</li>
        <li>Lonely</li>
        <li>Under Pressure</li>
        <li>Sad</li>
        <li>Sexy</li>
        <li>Relaxed</li>
      </ul>
    </div>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>
