<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>400</h2>
      <div>POINTS</div>
    </div>
  </header>

 <!--  <section class="session centered font-sans">
    <p>Session 3</p>
  </section>
 -->
  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <section class="paragraph centered font-sans">
    <p>Have there been any times in the recent past in which you were attempting to stay crystal­ free and a specific change in your mood resulted in use? </p>
    <p><em>Example: You got in a fight with someone and used in response to getting angry.</em></p>
  </section>

  <section class="choice centered font-marker">
    <div class="list y grow"><p>Yes&nbsp;<span>/</span></p></div>
    <div class="list n grow"><p>&nbsp;No</p></div>
  </section>

  <div class="if-yes centered font-marker">
    <p>If yes, describe: </p>
  </div>

  <section class="textarea centered">
    <textarea class="centered"></textarea>
  </section>
</section>

<footer>

  <section class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </section>

  <section class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </section>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>