<header class="centered">
  <img src="assets/title.png"/>
</header>

<section class="session centered">
  <div>Session 8</div>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top centered">
  <img src="assets/text_border_top.png"/>
</div>

<section class="content centered">
  <div class="title font-sans centered">
    <h1>Coming Out All Over Again: Reconstructing Your Identity</h1>
  </div>

  <div class="paragraph centered font-sans">
    <p>When you first start sharing that you are a gay or bisexual man recovering from crystal use, it can make you feel very vulnerable. Although you are doing this with people with whom you are close–such as friends, lovers, and family–your crystal use can feel like a big dark secret or a huge wall between you and these people in your life.</p>
    <p>This process of disclosing your crystal use can feel just like coming out as a gay or bisexual man, or as an HIV­positive man. It can be just as anxiety­ provoking to decide when and if to disclose your crystal use. You realize that it is important to extend your support system, to find people in your life who can be supportive with respect to who you truly are and to help reinforce a newer, healthier, and more honest sense of yourself. Yet, when you are completely honest, you run the risk that someone might reject you. Today we're going to go through a process that is meant to help you recognize some of the strengths and tools that you already have for dealing with negative reactions that you may come to face.</p>
  </div>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next.png" class="shrink"/>
</div>

<div class="icons-container centered">
  <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>