<header class="centered">
  <img src="assets/title.png"/>
</header>

<section class="session centered">
  <div>Session 9</div>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top centered">
  <img src="assets/text_border_top.png"/>
</div>

<section class="content centered">
  <div class="title centered font-sans"><h1>Setting Goals and Solving Problems</h1></div>
  <div class="paragraph centered font-sans">
    <p>Much of the advice in relapse prevention focuses on avoiding risky situations. Despite the best plans, however, it is inevitable you will find yourself in situations that put you in danger of relapse.</p>
  </div>
  <div class="subtitle centered font-sans">
    <p>For example, you might:</p>
  </div>

  <div class="list centered font-sans"> 
      <p><span>1.</span> Run into your old dealer or some old drug­using friends or fuck buddies.</p>
      <p><span>2.</span> Go to the gym and see a baggy being passed around, or a really hot guy cruises you.</p>
      <p><span>3.</span> Go to a party or another social event where drugs are unexpectedly brought out.</p>
      <p><span>4.</span> Need a place to stay and someone offers sex, crystal, and a place to sleep.</p>
      <p><span>5.</span> Find some crystal that you've forgotten about.</p>
  </div>

  <div class="paragraph">
    <p>Managing these situations successfully can help you develop a sense of your ability to handle even the most difficult challenges. This feeling that you can deal with whatever happens to you is called "self­ efficacy."</p>
    <p>As with all of the other skills we have discussed or will discuss, developing self­efficacy is a step­by­step process. It is important to set realistic goals that move you in the desired direction but are not too difficult. For example, saying, "I will be in a relationship within a few months," is probably not a realistic goal to set, especially if you are having trouble getting out of the house at all. A better goal, with a good chance of success is, "I will go for a walk today." However, for some people, even this goal may be too big. A goal such as, "I will get out of bed before 10 a.m.” may be the place to start.</p>

    <p>Make a list of relapse prevention successes and read it frequently. Remembering your successes will give you more confidence about future successes.</p>
  </div>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next_button.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>