<header>
  <div class="img">
    <img src="assets/title.png"/>
  </div>
  <div class="points">
    <h2>183</h2>
    <div>POINTS</div>
  </div>
</header>

<section class="session centered font-sans">
  <p>Session 9</p>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top">
  <img src="assets/text_border_top.png"/>
</div>

<section class="content centered">
  <div class="paragraph centered font-sans">
    This table is meant to help you understand how you can break down a major goal into smaller goals until you feel comfortable with an initial goal as a first step to success. Rate and circle your level of confidence that you will be able to accomplish the following treatment­related goals (1 = Not Confident and 10 = Very Confident).
  </div>

  <div class="subtitle centered font-sans">
    <h1>Getting out of bed when planned:</h1>
  </div>

  <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

   <div class="subtitle centered font-sans">
    <h1>Keep to a scheudle:</h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

  <div class="subtitle centered font-sans">
    <h1>Keeping my recovery appointments and/or meetings:
    </h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

   <div class="subtitle centered font-sans">
    <h1>Taking my medications when I am supposed to:</h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

   <div class="subtitle centered font-sans">
    <h1>Not drinking:</h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

  <div class="subtitle centered font-sans">
    <h1>Not using marijuana:</h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

  <div class="subtitle centered font-sans">
    <h1>Refusing crystal if it is offered to me:</h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

    <div class="subtitle centered font-sans">
    <h1>Choosing where I have sex:</h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

   <div class="subtitle centered font-sans">
    <h1>Choosing how I have sex.</h1>
  </div>

 <div class="rating centered font-sans">
    <div class="sub-rating centered">
      <p class="first-rating glow">1</p>
      <p class="glow">2</p>
      <p class="glow">3</p>
      <p class="glow">4</p>
      <p class="glow">5</p>
      <p class="glow">6</p>
      <p class="glow">7</p>
      <p class="glow">8</p>
      <p class="glow">9</p>
      <p class="glow">10</p>
    </div>
  </div>

  <div class="bottom-line centered">
    <img src="assets/line.png"/>
  </div>

</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next_button.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>