<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>1600</h2>
      <div>POINTS</div>
    </div>
  </header>
<!-- 
  <section class="session centered font-sans">
    <p>Session 5</p>
  </section> -->

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>


<section class="middle-container">
  <section class="content centered">
    <div class="paragraph centered font-sans">
      <h1>Determining Goals</h1>
      <p>It is likely that there will be times when you feel overwhelmed by problems you have or feelings you experience. This probably means one of two things: you are tackling too many things at once, or feelings from the past or from other situations are piling up. A few things to remember:</p>
      <p>1. Tackle one problem at a time. Trying  to solve two or more problems at once  probably means neither one will get fixed. Figure out which problem is the most important and work on it first.</p>
      <p>2. If it feels too big, break it down into  smaller bits. Almost always, the little steps  are easier to accomplish than the whole solution. Success with the little stpes will get the ball rolling in the right direction, and move you toward your final goal.</p>
      <p>3. Feelings are not bad-they just feel that way someitmes. Feelings give us information about situations or problems. Learning to recognize and pay attention to them will give you information about problem or situation generating them, and will ultimately help you reach your goal.</p>
    </div>
  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>