<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>1600</h2>
      <div>POINTS</div>
    </div>
  </header>
<!-- 
  <section class="session centered font-sans">
    <p>Session 5</p>
  </section> -->

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>


<section class="middle-container">
  <section class="content centered">
    <div class="paragraph centered font-sans">
      <h1>Steps to Solving a Problem</h1>
      <p>1. Identify the problem. Define it as carefully as possible because your definition of the problem will determine your solution. "Everything sucks" is not a good problem definition, but "I am angry at my friend" is. </p>
      <p>2. Brainstorm solutions. Think of as many solutions as possible, even if they seem stupid. The longer you list, the more likely that it will include some solutions that will work. Ask a friend or family member to brainstorm with you. Two heads are better than one! </p>
      <p>3. Carry out your plan. Pick one or more solutions from your list, break them down into manageable pieces (small goals), and start working on them. </p>
      <p>4. Evaluate the outcome. Did your solution work? If not, have parts of the problem improved or has the problem changed? If your problem is solved, you are done. If not, start at the first step again. If the solution doesn't initially work, it doesn't mean you have failed because you have learned something more about the problem and how you might try to tackle it. That allows you to restrategize and come up with new solutions.</p>
    </div>
  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>