.ch7page-1{
  header {
    max-width: 200px;
    img { width:100%; }
  }
  .session {
    font-family:'Open Sans', sans-serif;
    margin-top: -20px;
    font-size: 2em; color: rgb(39, 248, 11);
    div { text-align: center}
  }
  .progress-bar {
      margin-top: 10px;
      max-width:400px;
      .progress {
        float: left; 
        max-width: 9%;
        img { width:100% }
      }
      .progress.first{
        margin-left:10%;
      }
    }
  .border-top{
    max-width:100%;
    img { width:100%; }
  }
  .content{
    max-width:96%;
    .title{
      margin-top: -20px;
      max-width:100%;
      color: white;
      text-align: center;
      p{ width: 100%; font-size: 2em;}
    }
    .paragraph{
      max-width:98%;
      padding: 0px 5px;
      color: white;
      text-align: center;
      p { width: 100%; font-size: 1.3em;}
    }
  }
  .border-bottom{
    margin-top: -10px;
    max-width: 100%;
    img { width: 100%; }
  }
  .button{
    margin-top: 30%;
  }
  .icons-container{
    max-width:600px; 
    .icon-container{
      width:20%;
      float: left;
      img{width:100%;}
    }
    .icon-container.pin{
      margin-top: -2%;
    }
  }
}