<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>1200</h2>
      <div>POINTS</div>
    </div>
  </header>
<!-- 
  <section class="session centered font-sans">
    <p>Session 5</p>
  </section> -->

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <section class="content centered">
    <div class="title centered font-sans">
      <p>Think about how crystal was appealing in the beginning..</p>
    </div>

    <div class="paragraph centered font-sans">
      <h1 class="font-marker">Which of the following were true?</h1>
      <p>1. Increased sexual pleasure</p>
      <p>2. Made sex last longer</p>
      <p>3. Let me do things I might not have done without it.</p>
      <p>4. Helped me meet people by making me less self-conscious</p>
      <p>5. Helped me forget about HIV/AIDS</p>

      <h1 class="font-marker">Which of the following have been true recently?</h1>
      <p>1. Made sex and crystal fantasizing more exciting than the real thing</p>
      <p>2. Led to poor/dangerous sexual choices</p>
      <p>3. Made me forget what sex is like not on crystal</p>
      <p>4. Made it difficult to get and maintain an erection</p>
      <p>5. Replaced sex altogether</p>
      <p>6. Made me forget to take my HIV medications</p>
      <p>7. Changed my physical apperance, such as my skin and teeth</p>
      <p>8. Depleted my finances</p>
      <p>9. Increased my paranoia and anxiety</p>
      <p>10. Socially isolated me</p>
      <p>11. Created an endless search for sexual excitement, but the result was consintual disappointment</p>
      <p>12. Made reality never seem exciting enough</p>
    </div>
  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>