<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>1200</h2>
      <div>POINTS</div>
    </div>
  </header>
<!-- 
  <section class="session centered font-sans">
    <p>Session 5</p>
  </section> -->

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <section class="content centered">
    <div class="title centered font-sans">
      <p>Euphoric Recall?</p>
    </div>

    <div class="paragraph centered font-sans">
     <p class="font-sans">The tendency to only remember the good things about drug use and forget the bad things is called "euphoric recall"</p>

     <p class="font-sans">This can be a warning sign of an upcoming relapse to crystal use, or high-risk sex. After all, if your memory has you believing that using is not so bad, there may be no reason NOT to use. So remember to stop those thoughts as soon as they occur. Remember: relapse is not automatic!! If you choose to continue having these thoughts, you are choosing to risk relapse. When you find yourself engaged in "euphoric recall", only remembering the positives of your crystal use experiences, you are steering dangerously close to a relapse.  Remember that relapse is not automatic; you have control. If you choose to continue these thoughts, you are choosing to relapse. </p>
    </div>
  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>