#ch1{
  header{
    max-width:200px;
    img{width:100%;}
  }
  .paragraph{
    padding: 0px 15px;
    max-width: 400px;
    font-size: 2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    p { width:100%; }
  }
  .finish-chapter{
    margin-top: 2em;
  }
  .progress-bar {    
      margin-top:3em;
      .progress {
        float: left; 
        max-width: 9%;
        img { width:100% }
      }
      .progress.first{
        margin-left:1em;
      }
    }
}