#ch1{
  header{
    max-width:200px;
    img{width:100%;}
  }
  .paragraph{
    padding: 0px 10px;
    max-width: 400px;
    font-size: 2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    p { width:100%; }
  }
  .finish-chapter{
  
  }
  .progress-bar {
      max-width:700px;
      margin-top:40px;
      .progress {
        float: left; 
        max-width: 9%;
        img { width:100% }
      }
      .progress.first{
        margin-left:10%;
      }
    }
}