<header class="centered">
  <img src="assets/title.png"/>
</header>

<section class="paragraph centered">
  <p>You’ll have opportunities during this program to look at these areas of your life again so you can see the areas where you’re making improvements and the areas you may need to focus more energy on. </p>
<section>

<div class="finish-chapter centered">
  <img src="assets/next_button.png" class="ch1-finish-button"/>
</div>

<section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
  </section>