<header class="centered">
  <img src="assets/title.png"/>
</header>

<section class="paragraph-container centered"> 
  <p>In order to measure the progress you make during this program, you have to know where you started. Think about your life right now and what’s good and what’s not. How satisfied are you with each of the following areas of your life.</p>
</section>

<div class="border-container centered">
  <img src="assets/line.png"/>
</div>

<div class="category centered">
  <h3>Self Esteem</h3>
</div>

<div class="border-container bottom centered">
  <img src="assets/line.png"/>
</div>

<div class="rating-container centered">
  <div class="rating-sub centered">
    <div class="rating first" data-value='1' data-description='Very Dissatisfied'> 1 </div>
    <div class="rating" data-value='2' data-description='Somewhat Dissatisfied'> 2 </div>
    <div class="rating" data-value='3' data-description='Neutral'> 3 </div>
    <div class="rating" data-value='4' data-description="Somewhat Satisfied"> 4 </div>
    <div class="rating" data-value='5' data-description='Very Satisfied'> 5 </div>
  </div>
</div>

<div class="description-container centered">
  <div class="description"></div>
</div>

<div class="button centered"> 
  <img src="assets/next.png" class="next shrink"/>
</div>