<header class="centered">
  <img src="assets/title.png"/>
</header>

<div class="title centered font-marker" id="fuck">
  <p> Choose your Avatar! </p>
</div>

<div class="selected-avatar centered">
  <img src="assets/avatar_1.png"/>
</div>
<section class="content centered">
  <div class="row centered">
    <div class="avatar-container centered">
      <div class="avatar first">
        <img src="assets/avatar_1.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_2.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_3.png" class="image"/>
      </div>
    </div>
  </div>

  <div class="row centered">
    <div class="avatar-container centered">
      <div class="avatar">
        <img src="assets/avatar_4.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_5.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_6.png" class="image"/>
      </div>
    </div>
  </div>

  <div class="row centered">
    <div class="avatar-container centered">
      <div class="avatar">
        <img src="assets/avatar_7.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_8.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_9.png" class="image"/>
      </div>
    </div>
  </div>

  <div class="row centered">
    <div class="avatar-container centered">
      <div class="avatar">
        <img src="assets/avatar_10.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_11.png" class="image"/>
      </div>

      <div class="avatar">
        <img src="assets/avatar_12.png" class="image"/>
      </div>
    </div>
  </div>

</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next.png" class="shrink"/>
</div>


<div class="icons-container centered">
  <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>