<section class="header">
  <header class="centered">
    <img src="assets/title.png"/>
  </header>

  <section class="session centered">
    <div>Navigation</div>
  </section>
  <div class="border-top centered">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container" id="mid-container">
  <section class="content centered">
    
    <div class="content-container centered">
      <div class="paragraph margin font-sans">
        <img src="assets/menu-options.png" class="intro-icon-first"/>
      </div>
      <div class="description font-sans">
         <p class="p-first">Tap the Menu icon to return to the Navigation Menu.</p>
      </div>
    </div>

    <div class="content-container centered">
      <div class="paragraph margin">
        <img src="assets/menu-scheduler.png" class="icon-intro scheduler-intro"/>
      </div>
      <div class="description font-sans">
        <p> Tap the Clipboard icon to access the Table of Contents.</p>
      </div>
    </div>

    <div class="content-container centered">
      <div class="paragraph margin">
        <img src="assets/menu-calendar.png" class="icon-intro" />
      </div>
      <div class="description font-sans">
        <p>Tap the Calendar icon to access the Calendar</p>
      </div>
    </div>

    <div class="content-container centered">
      <div class="paragraph">
        <img src="assets/menu-pin.png" class="pin-intro"/>
      </div>
      <div class="description font-sans">
        <p>Tap the Pin icon to access the Pinboard. <span class="tooltip"><em>What is the Pinboard?</em></span></p>
      </div>
    </div>
    
    <div class="content-container centered">
      <div class="paragraph margin">
        <img src="assets/menu-exit.png" class="icon-intro" />
      </div>
      <div class="description font-sans">
        <p>Tap the back icon to return to the previous page</p>
      </div>
    </div>   
  </section>
</section>

<footer>
  <div class="border-bottom centered">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendarr" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pinn" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>

  <div class="overlay"></div>
  <section class="message-container">
    <p class="centered font-sans tool-message">Use the pinboard feature to upload images of family and friends.  Feel free to refer to these images to strengthen your resolve and combat challenges to your sobriety. The pinboard feature can be accessed readily via the bottom navigation menu.</p>
  </section>
