 <header class='centered'> 
  <img src="assets/title.png"/>
</header>

<section class="middle-container">
  <section class='terms-of-use centered'>
    <img src="assets/termsofuse.png"/>
  </section>

  <section class="terms-paragraph centered">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt vitae urna nec dapibus. Phasellus in commodo ipsum. Nunc ut libero eget purus semper mollis id in lorem. Donec a erat sed velit pulvinar maximus ac a urna. Sed finibus ex erat, non ullamcorper libero cursus eget. Nunc laoreet dui orci. Praesent eget semper velit. Pellentesque fringilla magna non mauris blandit bibendum quis sed urna. In auctor, augue vel vehicula auctor, ex quam ornare diam, et tincidunt leo quam eget ante.<p>
  </section>  

  <section class="accept-terms centered">
    <img src="assets/accept.png" class="accept y grow"/>
    <img src="assets/notaccept.png" class="accept n grow"/>
  </section>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>