<div class="header centered">
  <img src="assets/getting_started.png" />
  <p>Get started with a name and pick a theme to customize your handbook!</p>
</div>
<div class="name-container">
  <div class="title">Your Name</div>
  <div class="name-border">
    <input type="text" class="name"> </input>
  </div>
</div>
  <div class="title centered">Pick a Theme</div>
<div class="theme-container">
  <section class="twin-border centered">
    <div class="twin-all">
      <div class="twin-container left"> 
        <div class="twin-sub-container">
          <div class="twin" data-color="red_theme.png" data-border="rgba(189, 74, 74, 0.49)" data-button="#F88282" style="background-color: maroon"></div>
          <div class="twin red" data-color="red_theme.png" data-border="rgba(189, 74, 74, 0.49)" data-button="#F88282" style="background-color: red"></div>
        </div>
      </div>
      <div class="twin-container"> 
        <div class="twin-sub-container">
          <div class="twin" data-color="background.png" data-border="rgba(74, 180, 189, 0.49)" data-button="rgb(102, 211, 97)" style="background-color: turquoise"></div>
          <div class="twin" data-color="background.png" data-border="rgba(74, 180, 189, 0.49)" data-button="rgb(102, 211, 97)" style="background-color: cyan"></div>
        </div>
      </div>
      <div class="twin-container"> 
        <div class="twin-sub-container">
          <div class="twin" data-color="purple_theme.png" data-border="rgba(120, 74, 189, 0.490196)" data-button="#FD8AE6" style="background-color: purple"></div>
          <div class="twin" data-color="purple_theme.png" data-border="rgba(120, 74, 189, 0.490196)" data-button="#FD8AE6" style="background-color: magenta"></div>
        </div>
      </div>
      <div class="twin-container"> 
        <div class="twin-sub-container">
          <div class="twin" data-color="navy_theme.png" data-border="rgba(59, 156, 221, 0.490196)" data-button="#8A98FD" style="background-color: blue"></div>
          <div class="twin" data-color="navy_theme.png" data-border="rgba(59, 156, 221, 0.490196)" data-button="#8A98FD" style="background-color: navy"></div>
        </div>
      </div>
      <div class="twin-container right"> 
        <div class="twin-sub-container">
          <div class="twin" data-color="orange_theme.png" data-border="rgba(248, 153, 79, 0.490196)" data-button="#F7CD85" style="background-color: orange"></div>
          <div class="twin" data-color="orange_theme.png" data-border="rgba(248, 153, 79, 0.490196)" data-button="#F7CD85" style="background-color: red"></div>
        </div>
      </div>
    </div>
  </section>
</div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/> 
  </div>

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>