<header class="centered">
  <img src="assets/title.png"/>
</header>

<div class="title centered font-marker" id="fuck">
  <p> Pinboard </p>
</div>

<div class="centered content">
  
</div>
<!-- 
<form class="centered"> -->
  <input type="file" class="photo centered" style="display: none"/>
  <!-- <input type="submit" class="centered submit"> -->
<!-- </form> -->

<div class="add-photo centered">
  <img src="assets/add_button.png"/>
</div>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>