body {
  background-size: 100% 100%;
}

.ch3page-2{
  .submit{
    img{ height:59px !important; }
  }
}

.ch3page-3{
  .submit{
    img{ height: 59px !important;}
  }
}

.ch5page-4{
  .submit{
    img{ height:54px !important;}
  }
}