<section class="header">
  <header class="centered">
    <img src="assets/title.png"/>
  </header>

  <section class="session centered">
    <div>Session 4</div>
  </section>

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top centered">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <section class="paragraph centered font-sans">
    <h1>Knowing How to Handle a Relapse is Not Permission to Have a Relapse</h1>
    <p>This program encourages you to set a goal of abstinence from crystal. Yet some people who are trying to get off of crystal will relapse in their struggle to remain clean. The same is true for involvement in high­risk sex. </p>
    <p> Relapse to crystal or high­risk sexual behaviors will not affect your participation in this group. In fact, if you relapse you are encouraged to talk about your relapse experience and what you learned from it in this group. Although many people stay clean, others relapse. You will not be punished or shamed in any way for a relapse. </p>
    <p> Most important, we must think about how to handle a relapse if it does occur and how to reduce the potential damage as much as possible. In other words, if you relapse, it is important to be safe. This is true of crystal­ related behaviors and it is true if you return to old, high­risk sexual practices. </p>
    <p>With this in mind, the following principles are offered:</p>
    <p>If you inject:</p>
      
        <p>If you are an injection drug user and you are unable to remain drug­ free, locate a needle exchange program in your community and participate in it. In Los Angeles, there are needle exchange programs offered by the following agencies: </p>
        <p>1. Clean Needles Now (CNN) ­ Hollywood, West Hollywood ­(323)
        857­-5366; www.cleanneedlesnow.org </P>
        
        <p>2. Minority AIDS Project (MAP) ­ South Central Los Angeles,
        Inglewood ­ (323) 936­-4949; www.map­usa.org </p>

        <p>3. Tarzana Treatment Center (TTC) ­ San Fernando Valley – (818)
        342-­5897; www.tarzanatc.org </p>

        <p>4. Common Ground Westside ­ West LA, Venice ­ (310) 314­-5480;
        www.commongroundwestside.org </p>
            
        <p>Bring your used needles (rigs) to the clinic for safe disposal.</p>
        <p>Do not share your needles or works.</p>
        <p>If you share, go first.</p>
        <p>If you share needles/works, carry bleach. Before your turn, flush three times with water. Then fill the needle and syringe with bleach and let it sit for one minute. Push the bleach out and flush three times with water. Repeat flushing with bleach and then water two more times. Remember ­ it's the bleach that kills HIV. There can easily be enough HIV left in the syringe after rinsing only with water to infect others. Instructions are available in the reception area.</p>
    
    <p>For all drug use:</p>
        <p>Think about your safety before you use. Are you with someone you can trust? Are you in a safe place?</p>
        <p>For sex behaviors:</p>
        <p>Some sexual behaviors have greater health risks than others. Think about the risks that you’re willing to accept before having sex.</p>
        <p>For some people, relapse occurs over the course of recovery. The best thing that can happen after a relapse is:</p>
     
        <p>For a crystal relapse, stop crystal use.</p>
        <p>For a high­risk sex relapse, start practicing safer sex again.</p>
        <p>Talk to a counselor and/or go to a meeting.</p>
        <p>Plan to prevent relapse in the future.</p>
  </section>
</section>

<footer>
  <div class="border-bottom"> 
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>