<header class="centered">
  <img src="assets/title.png"/>
</header>

<section class="session centered">
  <div>Session 5</div>
</section>

<section class="progress-bar centered"> 
  <div class="progress first"><img src="assets/progress_check.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
  <div class="progress"><img src="assets/progress_line.png"/></div>
  <div class="progress"><img src="assets/progress_x.png"/></div>
</section>

<div class="border-top centered">
  <img src="assets/text_border_top.png"/>
</div>

<section class="paragraph centered font-sans">
  <h1>Your Social Web</h1>
  <p>We often don’t take time to think about all of the people who have some effect on our lives. We are going to do an exercise to show the social web that you interact within (notice the example on the right). Think about your friends, sex partners, family, or others whom you come in contact with. Decide how close you are to each
  of them.</p>
</section>

<div class="border-bottom">
  <img src="assets/text_border_bottom.png"/>
</div>

<div class="button centered">
  <img src="assets/next.png" class="shrink"/>
</div>

<div class="icons-container centered">
  <div class="icon-container" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
  <div class="icon-container" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
  <div class="icon-container" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
  <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
  <div class="icon-container" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
</div>