<div class="tooltip">
    <img src="assets/tooltip.png"/>
</div>
<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>800</h2>
      <div>POINTS</div>
    </div>
  </header>
<!-- 
  <section class="session centered font-sans">
    <p>Session 5</p>
  </section> -->

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_x.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container" id="mid-container">
  <section class="web">
    <div class="me centered">
      <img src="assets/me_button.png" class="add-name"/>
     <!--  <div class="circle font-sans">Tim</div> -->
    </div>
    

    </div>
  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>

  <section class="popup-container">
    <div class="popup-menu">
      <div class="text centered font-marker">
        <h1>Add a Person</h1>
      </div>

      <div class="input centered">
        <input type="text" class="name"> </input>
        <div class="submit"><img src="assets/check_button.png"/></div>
      </div>

      <div class="text centered font-marker">
        <h1 class='fuck'>Pick a Color</h1>
      </div>

      <div class="colors centered">
        <div class="top-colors centered">
          <div class="first each-color float-shadow" data-color="blue">
            <img src="assets/blue_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="dark blue">
            <img src="assets/navy_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="pink">
            <img src="assets/pink_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="purple">
            <img src="assets/purple_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="navy">
            <img src="assets/dark_blue_box.png"/>
          </div>
        </div>

        <div class="bottom-colors centered">
          <div class="first each-color float-shadow" data-color="orange">
            <img src="assets/orange_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="lime">
            <img src="assets/lime_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="green">
            <img src="assets/green_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="yellow">
            <img src="assets/yellow_box.png"/>
          </div>
          <div class="each-color float-shadow" data-color="red">
            <img src="assets/red_box.png"/>
          </div>
        </div>
      </div>
    </section>

<section class="overlay"></section>
<!-- <div class="speech-container">
  <div class="speech-bubble centered">
    <img src="assets/ch5_tooltip.png"/>
  </div>
</div> -->

 <section class="message-container">
    <p class="centered font-sans tool-message">Use the pinboard feature to upload images of family and friends.  Feel free to refer to these images to strengthen your resolve and combat challenges to your sobriety. The pinboard feature can be accessed readily via the bottom navigation menu.</p>
  </section>