<section class="header">
  <header>
    <div class="img">
      <img src="assets/title.png"/>
    </div>
    <div class="points">
      <h2>800</h2>
      <div>POINTS</div>
    </div>
  </header>
<!-- 
  <section class="session centered font-sans">
    <p>Session 5</p>
  </section> -->

  <section class="progress-bar centered"> 
    <div class="progress first"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
    <div class="progress"><img src="assets/progress_line.png"/></div>
    <div class="progress"><img src="assets/progress_check.png"/></div>
  </section>

  <div class="border-top">
    <img src="assets/text_border_top.png"/>
  </div>
</section>

<section class="middle-container">
  <section class="paragraph centered">
    <h1 class="font-marker"> Homework </h1>
    <p class="font-sans">Find a non­using friend and decide together on a way that you can talk to or see each other between now and the next meeting. Call each other, set a date for coffee, or set a time to take a walk.</p>
  </section>
</section>

<footer>
  <div class="border-bottom">
    <img src="assets/text_border_bottom.png"/>
  </div>

  <div class="button centered">
    <img src="assets/next.png" class="shrink"/>
  </div>

  <div class="icons-container centered">
    <div class="icon-container user" data-id="menu" id="icon-menu"><img src="assets/menu-options.png" class="icon"/></div>
    <div class="icon-container table" data-id="scheduler" id="icon-scheduler"><img src="assets/menu-scheduler.png" class="icon"/></div>
    <div class="icon-container calendar" data-id="calendar" id="icon-calendar"><img src="assets/menu-calendar.png" class="icon"/></div>
    <div class="icon-container pin" data-id="pin" id="icon-pin"><img src="assets/menu-pin.png" class="icon"/></div>
    <div class="icon-container previous" data-id="exit" id="icon-exit"><img src="assets/menu-exit.png" class="icon"/></div>
  </div>
</footer>