.ch5page-2{
  .header{
    height: 180px;
    header{
      max-width: 100%;color:white;
      height:5em; 
      .img {width: 8em; float: left; margin-left: 3%; margin-top:2.8em; img{ width:100%;}}
      .points {
        margin-right:4%;
        margin-top: -3em;
        float: right;
        max-width: 200px;
        font-family: 'Permanent Marker', cursive;
        h2{font-size: 5em;}
        div { 
          margin-top: -3.7em;
          font-family: 'Open Sans', sans-serif; font-size: 1.5em; color: rgb(67, 230, 67);
          text-align: center;
        }
      }
    }
    .progress-bar{
      margin-top: 70px;
      max-width: 350px;
    }
    .progress{
      float: left;
      max-width: 9%;
      img { width:100%; }
    }
    .progress.first{
      margin-left: 10%;
    }
    .border-top{
      max-width: 100%;
      img { width:100%; }
    }
  }
  .middle-container{
    position: absolute;
    top: 170px;
    bottom: 120px;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .web{
      height:35em;
      max-width: 100%;
      background: url(./web.png) no-repeat;
      background-size: 120% 120%;
      background-position: center;
      // margin-top: -10px;
    }
    .me-circle{
      position: relative;
      background-color: rgb(85, 197, 75);
      border:2px solid rgb(197, 255, 197);
      border-radius: 30px;
      max-width: 60px;
      height:3.3em;
      text-align: center;
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 3.3em;
      margin-top: -13em;
    }
    .title{
      max-width: 60%;
      color: white;
      text-align: center;
      h1 { width: 100%; font-size: 2em; }
    }
  }
  footer{
    bottom: 0;
    height: 140px;
    position: absolute;
    width: 100%;
    .border-bottom{
      margin-top: 20px;
      max-width: 100%;
      img { width: 100%;}
    }
    .button{
     margin-top: 2px;
    }
     .icons-container{
      margin-top: 1em;
      max-width:600px; 
      .icon-container{
        width:20%;
        float: left;
        img{width:100%;}
      }
      .icon-container.pin{
        margin-top: -2%;
      }
    }
  }
  @media screen and (min-width:768px){
    .web{
      height: 35em !important;
    }
    .me-circle{
      margin-top: -10em !important; 
      height: 80px !important;
      border-radius: 40px !important;
      max-width: 80px !important;
      line-height: 80px !important;
      font-size: 2em !important;
    }
    .title{
      h1{ font-size: 3.5em !important;}
    }
    .middle-container{
      top: 180px !important;
      bottom: 200px !important;
    }
    footer{
      height: 230px !important;
      .button{
        margin-top: 10px !important;
      }
    }
  }
}