.ch5page-4{
  .tooltip{
    position: absolute;
    right: 2px;
    top: 2px;
    img { height: 3em;}
  }
  .header{
    height: 180px;
    header{
      max-width: 100%;color:white;
      height:5em; 
      .img {width: 8em; float: left; margin-left: 3%; margin-top:2.8em; img{ width:100%;}}
      .points {
        margin-right:4%;
        margin-top: -3em;
        float: right;
        max-width: 200px;
        font-family: 'Permanent Marker', cursive;
        h2{font-size: 5em;}
        div { 
          margin-top: -3.7em;
          font-family: 'Open Sans', sans-serif; font-size: 1.5em; color: rgb(67, 230, 67);
          text-align: center;
        }
      }
    }
    .progress-bar{
      margin-top: 70px;
      max-width: 350px;
    }
    .progress{
      float: left;
      max-width: 9%;
      img { width:100%; }
    }
    .progress.first{
      margin-left: 10%;
    }
    .border-top{
      max-width: 100%;
      img { width:100%; }
    }
  }
  .middle-container{
    position: absolute;
    top: 180px;
    bottom: 120px;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .web{
      background: url(./web.png) no-repeat;
      background-size: 100% 100%;
      max-width: 100%;
      height: 35em;
      .me {
        height:3em;
        max-width: 90px;
        img { width: 100%; margin-top:13.5em;}
      }
      .circle{
        position: absolute;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.5em; font-weight: bold;
        height:4em;
        width:4em;
        opacity: 0.5;
        border-radius:4em;
        background-color: rgb(90, 202, 90);
        line-height:4em;
        text-align: center;
        border: 2px solid rgb(197, 255, 197);
      }
    }
  }
  footer{
    height: 140px;
    width: 100%;
    position: absolute;
    bottom: 0;
    .border-bottom{
      margin-top: 20px;
      max-width: 100%;
      // margin-top: -50px;
      img { width: 100%; }
      z-index: 1;
    }
    .button{
      z-index: 1;
      margin-top: 2px;
    }
    .icons-container{
      max-width:600px; 
      z-index: 1;
      .icon-container{
        width:20%;
        float: left;
        img{width:100%;}
      }
      .icon-container.pin{
        margin-top: -2%;
      }
    }
  }
  .float-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
  .float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    // background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .float-shadow-click {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .float-shadow-click:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
  .border-effect {
    border: 2px solid rgb(134, 224, 241) !important;
  }
  .popup-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    .popup-menu{
      display: none;
      // position: fixed;
      height: 18em;
      position: relative;
      z-index: 9999;
      background-color:rgb(250, 248, 248);
      width:100%;
      text-align: center;
      font-size: 1.5em;
      color: navy;
      .text{
        width: 100%;
      }
      .fuck{
        margin-top: 30px;
      }
      .input{
        height:2em;
        padding: 0px 5px;
        margin-top: 1em;
        background-color: rgba(255, 255, 255, 0.33);
        max-width: 95%;
        input {
          -webkit-appearance: none;
          width:70%; height:1.2em; 
          border:8px solid white; 
          float: left; margin-left:4%; 
          background-color: rgb(209, 214, 218); color:white; font-size:1.5em;
        }
        .submit{
          position: relative;
          float: left;
          max-width:10%;
          margin-top: -0.05em;
          img{width:100%;height:60px; z-index: 1000;}
        }
      }
      .colors{
        max-width:70%;
        .top-colors{
          max-width: 200px;
          height:2em;
          .each-color {
            float: left;
            margin: 0px 0.3em;
            max-width: 11%;
            img { width: 100%; height: 1.1em;}
          }
          .first.each-color{
            margin-left:13%;
          }
        }
        .bottom-colors{
          max-width: 200px;
          height:30px;
          .each-color {
            float: left;
            margin: 0px 0.3em;
            max-width: 11%;
            img { width: 100%; height:1.1em;}
          }
          .first.each-color{
             margin-left: 13%;
          }
        }
      }  
    }
  }
  .overlay{
    display: none;
    width: 100%;
    background-color: rgb(31, 86, 204);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    opacity:0.7;
  }
  // .speech-container{
  //   // width: 0px;
  //   position: absolute;
  //   width: 100%;
  //   top: 210px;
  //   z-index: 2000;
  //   .speech-bubble{
  //       // z-index: 1000;
  //       margin-left: 15px;
  //       width: 0px;
  //       img{width: 100%;}
  //     }
  //   }
    .message-container{
      z-index: 9999;
      display: none;
      position: absolute;
      width: 100%;
      top: 200px;
      bottom: 140px;
      p{width: 80%; background-color: white; padding:5px; border-radius: 5px;} 
    }

    @media screen and (min-width:768px){
      .web{
        height: 60em !important;
      }
      .circle{
        height: 80px !important;
        border-radius: 40px !important;
        max-width: 80px !important;
        line-height: 80px !important;
        font-size: 2em !important;
      }
      .me{
        // margin-top: 18em !important;
        height: 4em !important;
        max-width: 120px !important;
        img{ margin-top: 25em !important;}
      }
      .middle-container{
        bottom: 190px !important;
      }
      footer{
        height: 220px !important;
        .button{
          margin-top: 10px !important;
        }
      }
      .fuck{
        margin-top:40px !important;
      }
      .input{
        margin-left: 2em !important;
      }
      .message-container{
        font-size: 1.5em !important;
      }
    }
}