.avatar{
  .header{
    height:200px;
    header {
      max-width: 200px;
      img { width: 100%;}
    }
    .title{
      text-align: center;
      color: #8EE28E;
      font-size: 2em;
      margin-top: -2em;
      z-index: -99999;
      position: relative;
    }
  }
  .middle-container{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    width: 100%;
    top: 205px;
    bottom: 120px;
    .selected-avatar{
      border: 2px solid rgba(134, 192, 255, 0.61);
      border-radius: 10px;
      background-color: white;
      max-width: 90px;
      img { 
        width: 100%; 
        height:9em; 
      }
    }
    .content{
      border: 1px solid rgba(134, 192, 255, 0.61);
      margin-top: 2%;
      background-color: rgba(255, 255, 255, 0.33);
      max-width: 90%;
      height: 22em;
      // overflow-y: auto;
      .row{
        max-width: 370px;
        height:5em;
        .avatar-container{
          max-width: 155px;
          .avatar{
            float: left;
            max-width: 51px;
            img { width: 100%; height: 5em; opacity: 0.5; }
          }
          .avatar.first{
            img{opacity: 1;}
          }
        }
      }
    }
  }
  footer{
    height: 140px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .border-bottom{
      margin-top: 20px;
      max-width: 100%;
      img { width: 100%;}
    }
    .button{
      margin-top:2px;
    }
    .icons-container{
      max-width:600px; 
      z-index: 1;
      .icon-container{
        width:20%;
        float: left;
        img{width:100%;}
      }
      .icon-container.pin{
        margin-top: -2%;
      }
    }
  }
  @media screen and (min-width:768px) {
    .selected-avatar{
      max-width: 200px;
      img{
        height: 16em;
      }
    }
    .middle-container{
      bottom: 170px !important;
    }
    .content{
      height: 43em !important;
    }
    .row{
      height: 10em !important;
      max-width: 800px !important; 
    }
    .avatar img{
      height: 10em !important;
    }
    .avatar-container{
      max-width: 600px;
    }
    .avatar{
      max-width: 200px;
    }
    footer{
      height: 210px !important;
    }
  }
}