#ch1_cover {
  .header{
    height: 190px;
    header {
      max-width: 200px;
      img { width:100%; }
    }
    .session {
      font-family:'Open Sans', sans-serif;
      margin-top: -2em;
      font-size: 2em; color: rgb(39, 248, 11);
      div { text-align: center}
    }
    .progress-bar {
        margin-top: 1em;
        max-width:400px;
        .progress {
          float: left; 
          max-width: 9%;
          img { width:100% }
        }
        .progress.first{
          margin-left:9%;
        }
      }
    .border-top{
      max-width:100%;
      img { width:100%; }
    }
  }

  .middle-container{
    position: absolute;
    top: 190px;
    width: 100%;
    bottom: 120px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .paragraph {
     height: 20em;
     img { width :100%; }
    }
  }
  footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 140px;
    .border-bottom{
      max-width:100%;
      margin-top: 20px;
      img { width:100%; }
    }
    .button{
     margin-top: 2px;
    }
    .icons-container{
      max-width:600px;
      .icon-container{
        width:20%;
        float: left;
        img { width:100%; }
      }
      .icon-container.pin{
          img { margin-top:-11%; }
      }
    }
  }
  @media screen and (min-width:768px) {
    .paragraph{
   
    }
    .middle-container{
      bottom: 180px !important;
      top: 190px !important;
    }
    footer{
      height: 220px !important;
      .button{
        margin-top: 10px !important;
      }
    }
  }
}