#new-user{
    header{
      height: 200px;
      max-width: 250px;
      img{width: 100%;}
    }
    .middle-container{
      margin-top: -2em;
      position: absolute; top: 215px; bottom: 40px;
      // height:20em;
      overflow-y: auto;
      // -webkit-overflow-scrolling: touch;
      .terms-of-use { 
        margin-top: -1em;
        max-width:600px; 
        img { width:100% }
      }
      .terms-paragraph {
        // max-width:500px;
        padding: 0 20px;
        text-align:center;color: white;font-family: 'Open Sans', sans-serif;font-size: 1em;
        p { width:100% }
      }
      .accept-terms {
        max-width:500px; 
        height: 2em;
        margin-top:1em;
          .accept {
            float: left;
            width:50%;
            height:7em;  
          }
          .accept.n{margin-top:9px} 
      }
    }
   .progress-bar{
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0; 
    .progress{
      float: left;
      width: 9%;
      img { width:100%; }
      &.first { margin-left: 10%; }
    }
  }
  @media screen and (min-width:768px) {
    .terms-paragraph p{
      font-size: 2em;
    }
    .header{
      padding-top: 10px;
    }
    .middle-container{
      bottom: 90px !important;
    }
    .progress-bar{
      height: 90px;
    }
  }
}