#new-user{
    header{
      height: 200px;
      max-width: 250px;
      img{width: 100%;}
    }
    .middle-container{
      width: 100%;
      margin-top: -2em;
      position: absolute; top: 210px; 
      overflow-y: auto;
      bottom: 45px;
      -webkit-overflow-scrolling: touch;
      .terms-of-use { 
        margin-top: -1em;
        max-width:600px; 
        img { width:100% }
      }
      .terms-paragraph {
        max-width:800px;
        padding: 0 20px;
        text-align:center;color: white;font-family: 'Open Sans', sans-serif;font-size: 1em;
        p { width:100% }
      }
      .accept-terms {
        max-width:400px; 
        height: 2em;
        margin-top:1em;
          .accept {
            float: left;
            width:50%;
            height:7em;  
          }
          .accept.n{margin-top:9px} 
      }
    }
      footer{
        position: absolute;
        bottom: 0;
        // border: 1px solid pink;
        height: 40px;
        width: 100%;
        .progress-bar {
          // margin-top: 1em;
          max-width:400px;
          .progress {
            float: left; 
            max-width: 9%;
            img { width:100% }
          }
          .progress.first{
            margin-left:8%;
          }
        }
      }
  @media screen and (min-width:388px) {
    .progress-bar{
      // height: 65px !important;
    }
  }
  @media screen and (min-width:768px) {
    .terms-paragraph p{
      font-size: 2em;
    }
    .header{
      // padding-top: 10px;
    }
    .middle-container{
      bottom: 50px !important;
    }
    footer{
      height: 40px !important;
    }
    .progress-bar{
      // height: 40px !important;
    }
  }
}