.pinboard{
  .tooltip {
    margin-top: 1em;
    float: right;
    img { height: 3em;}
  }
  .header{
    height: 200px;
    header {
      width:200px;
      img { width: 100%;}
    }
    .title{
      text-align: center;
      color: #8EE28E;
      font-size: 3em;
      margin-top: -2em;
      z-index: -99999;
      position: relative;
    }
  }
  .middle-container{
    top: 205px;
    bottom: 140px;
    width: 100%;
    position: absolute;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .content{
      padding: 5% 5%;
      max-width: 100%;
      height: 15em;
      overflow-x:  hidden;
      .photos-container{
        margin-top: 50px;
        position: relative;
        max-width: 60%;
        .photo-container{
          margin-top:1%;
          max-width: 60px;
          position: absolute;
          .pinboard-photos{
            border: 5px solid rgba(255, 255, 255, 0.38);
            margin-top: 7%;
            margin-left: auto;
            margin-right: auto;
            height: 8em;
            width:100%;
          }
        }
      }
    }
  }
    .menu-options{
      position: absolute;
      width: 100%;
      bottom: 125px;
      .utility-container{
        max-width: 60px;
        .add-photo{
          float: left;
          max-width:48%;
          img{
            width: 100%; 
            height: 2.3em;
          }
        }
        .start-drawing{
          margin-left: 1px;
          float: left;
          max-width: 48%;
          img{ width: 100%; height: 2.34em; margin-top: -0.515px;}
        }
      }
    }
  footer{
    height:140px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .border-bottom{
      max-width: 100%;
      margin-top: 20px;
      img { width: 100%; margin-top:-2em;}
    }
    .button{
      margin-top: 2px;
    }
    .icons-container{
      margin-top:1em;
      max-width:600px; 
      z-index: 1;
      .icon-container{
        width:20%;
        float: left;
        img{
          width:100%;
        }
      }
      .icon-container.pin{
        margin-top: -2%;
      }
    }
  }
  .canvas-container{
    display: none;
    position: absolute;
    overflow-y: auto;
    top: 205px;
    bottom: 155px;
    width:100%;
    .canvas{
      height: 19.7em;
      width:100%;
      background-color: white;
      opacity: 0.5;
      z-index: 99999;
    }
  }
  .paint-tools{
    display: none;
    width:100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    height:150px;
    background-color: black;
    .colors{
      position: relative;
      max-width: 100%;
      z-index: 100;
      .color{
        opacity: 0.6;
        height: 2.5em;
        width: 30%;
      }
      .close{
        width:40px;
        position: relative;
        z-index: 9999;
        margin-left: 85%;;
        margin-top: -1.2em;
        color: white;
        cursor: pointer;
      }
      .work{
        img{ width: 100%;}
      }
    }
  }
  .opaque{
    opacity: 1 !important;
  }
   .tool-overlay{
    border: 1px solid pink;
    display: none;
    width: 100%;
    background-color: rgb(31, 86, 204);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    opacity:0.7;
  }
  .message-container{
    z-index: 8888;
    display: none;
    position: absolute;
    width: 100%;
    top: 200px;
    bottom: 140px;
    p{width: 80%; background-color: white; padding:5px; border-radius: 5px;} 
  }
  .work-container{
    display: none;
    width: 100%;
    position: absolute;
    top: 200px;
    font-size: 2em;
    .work{
      text-align: center;
      z-index: 2000;
    }
  }
 
    @media screen and (min-width:768px) {
      .content{
        height: 19em !important;
      }
      .paint-tools{
        height: 170px !important;
      }
      .color{
        height: 2.85em !important;
      }
      .middle-container{
        bottom: 220px !important;
      }
      .menu-options{
        bottom: 220px !important;
      }
      footer{
        height: 220px !important;
        .button{
          margin-top:10px !important;
        }
      }
      .canvas{
        height: 27.5em !important;
      }
      .tool-overlay{
        top: 0 !important;
        bottom: 0 !important;
      }
        .photos-container{
          margin-top: 35px !important;
          .photo-container{
            margin-top:1%;
            max-width: 100px !important;
            position: absolute;
            .pinboard-photos{
              border: 5px solid rgba(255, 255, 255, 0.38);
              margin-top: 7%;
              margin-left: auto;
              margin-right: auto;
              height: 12em !important;
              width:100%;
            }
          }
        }
    }
}