.pinboard{
  .tooltip {
    margin-top: 1em;
    float: right;
    img { height: 3em;}
  }
  header {
    width:200px;
    img { width: 100%;}
  }
  .title{
    text-align: center;
    color: #8EE28E;
    font-size: 3em;
    margin-top: -2em;
    z-index: -99999;
    position: relative;
  }
  .content{
    padding: 5% 5%;
    max-width: 100%;
    height: 19em;
    overflow-x:  hidden;
    .photos-container{
      position: relative;
      max-width: 60%;
      .photo-container{
        margin-top:1%;
        max-width: 145px;
        position: absolute;
        .pinboard-photos{
          border: 5px solid rgba(255, 255, 255, 0.38);
          margin-top: 7%;
          margin-left: auto;
          margin-right: auto;
          height: 16em;
          width:100%;

        }
      }
    }
  }

  .utility-container{
    max-width: 104px;
    .add-photo{
      float: left;
      max-width:50%;
      img{
        width: 100%; 
        height: 4em;
      }
    }
    .start-drawing{
      padding: 0px 4px;
      background-color: rgb(182, 241, 174);
      float: left;
      max-width: 50%;
      i{ width: 100%;}
    }
  }
  .border-bottom{
    max-width: 100%;
    img { width: 100%; margin-top:-2em;}
  }
  .button{
    margin-top: 1em;
  }
  .icons-container{
    margin-top:1em;
    max-width:600px; 
    z-index: 1;
    .icon-container{
      width:20%;
      float: left;
      img{
        width:100%;
      }
    }
    .icon-container.pin{
      margin-top: -2%;

    }
  }
  .canvas{
    display: none;
    width:100%;
    position: absolute;
    top: 17em;
    background-color: white;
    opacity: 0.5;
    height: 24.9em;
    z-index: 100;
  }
  .paint-tools{
    display: none;
    width:100%;
    position: relative;
    z-index: 100;
    height:12.8em;
    background-color: black;
    margin-top: -6em;
    .colors{
      position: relative;
      max-width: 100%;
      z-index: 100;
      .color{
        opacity: 0.6;
        height: 2em;
        margin-top: 0.7em;
        width: 30%;
      }
      .close{
        margin-left: 85%;;
        margin-top: -1.2em;
        color: white;
        cursor: pointer;
      }
    }
  }
  .opaque{
    opacity: 1 !important;
  }
   .tool-overlay{
    display: none;
    height: 60em;
    width: 100%;
    background-color: rgb(31, 86, 204);
    position: absolute;
    top: 0;
    z-index: 100;
    opacity:0.7;
  }
  .photo-speech-bubble{
    max-width: 0px;
    z-index: 1000;
    left: 1em;
    top: 20em;
    position: absolute;
    img{ width: 100%; }
  }
  .sketch-speech-bubble{
    z-index: 1000;
    float: right;
    top: 36em;
    left: 16em;
    position: absolute;
    max-width: 0px;
    img { width: 100%;}
  }
   @media screen and (min-width:420px) {
    .photo-speech-bubble {
      left: 3em;
    }
    .sketch-speech-bubble{
      left: 20em;
    }
  }
   @media screen and (min-width:500px) {
    .photo-speech-bubble {
      left: 4em;
    }
     .sketch-speech-bubble{
      left: 24em;
    }
    .tool-overlay{
      height: 63em;
    }
  }
   @media screen and (min-width:600px) {
    .photo-speech-bubble {
      left: 6em;
    }
    .sketch-speech-bubble{
      left: 30em;
    }
     .tool-overlay{
      height: 65em;
    }
  }
  @media screen and (min-width:700px) {
    .photo-speech-bubble {
      left: 9em;
    }
     .sketch-speech-bubble{
      left: 36em;
    }
  }
   @media screen and (min-width:800px) {
    .photo-speech-bubble {
      left: 15em;
    }
     .sketch-speech-bubble{
      left: 41em;
    }
     .tool-overlay{
      height: 68em;
    }
  }
   @media screen and (min-width:900px) {
    .photo-speech-bubble {
      left: 19em;
    }
     .sketch-speech-bubble{
      left: 48em;
    }
  }
  @media screen and (min-width:1000px) {
    .photo-speech-bubble {
      left: 23em;
    }
     .sketch-speech-bubble{
      left: 52em;
    }
     .tool-overlay{
      height: 71em;
    }
  }
  @media screen and (min-width:1100px) {
    .photo-speech-bubble {
      left: 26em;
    }
     .sketch-speech-bubble{
      left: 58em;
    }
  }
   @media screen and (min-width:1200px) {
    .photo-speech-bubble {
      left: 34em;
    }
     .sketch-speech-bubble{
      left: 65em;
    }
     .tool-overlay{
      height: 73em;
    }
  }
}